*{
    box-sizing: border-box;
} 

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: hsl(276, 100%, 8%); 
    overflow: hidden;
    display: flex; 
    flex-direction: column;
} 

#particles-js {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
}